<footer class="footer-distributed" id="footer">

    <div class="footer-left">

        <h3>BEYOND THE BOUNDS<span>...</span></h3>

        <p class="footer-company-name">CRYSTAL © 2020</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Delicioso</span> Amman, Jordan</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+962-000-0000</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a
                    href="https://www.google.com/search?sxsrf=ALeKk02927cWBU3GhdOTUDQQ8HFpuqO4BQ%3A1605020514588&source=hp&ei=YquqX7evIfnTgwfr-aWoCQ&q=gmail&oq=gma&gs_lcp=CgZwc3ktYWIQAxgAMgsIABCxAxDJAxCRAjIFCAAQsQMyCAgAELEDEIMBMgIIADICCAAyAggAMgUIABCxAzICCAAyAggAMgIIADoECCMQJzoICAAQyQMQkQI6CAguEMcBEKMCUNADWOwJYOcUaABwAHgAgAG1AYgB-gOSAQMwLjOYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab">crystal@company.com</a>
            </p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            CRYSRAL provides a virtual waiting room, through which you can DISCOVER more about your birthday.
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>