<header>
    <div>
        <a href="/" class="logo">Crystal</a>
    </div>
    <nav class="navbar">
        <div id="myLinks">
            <a href="/">Home</a>
            <a href="#footer">Contact Us</a>
        </div>
    </nav>
    <div class="container" onclick="menu(); toggle(this);">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</header>

<script>
    function menu() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
    function toggle(x) {
        x.classList.toggle("change");
    }
</script>

