<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    -->
    <section>
        <form action="/result" method="post">
            <input type="number" id="age" name="age" required placeholder="your age">
            <select name="planets" id="planets">
                <option>SELECT PLANET</option>
                <option value="PLUTO">PLUTO</option>
                <option value="EARTH'S MOON">EARTH'S MOON</option>
                <option value="MARS">MARS</option>
                <option value="VENUS">VENUS</option>
            </select>
            <input type="submit">
        </form>
        <article>
            <% if(planet==='EARTH\'S MOON'){ %>
            <img src="https://www.nasa.gov/sites/default/files/images/main_moon.jpg" alt="moon">
            <h4>your age in moon : <%=age%> years</h4>
            <% }else if(planet==='PLUTO'){ %>
                <%  let age2 = age/248; %>
                <img src="https://www.nasa.gov/sites/default/files/images/main_pluto.jpg" alt="pluto">
                <% if (age2 < 1){ %>
                <h4>your age in pluto : less than 1 year ! </h4>
                <% } else{ %>
                <h4>your age in pluto : <%=Math.round(age2) %> years</h4>
                <% } %>
            <%} else if(planet==='MARS'){%>
                <%  let age2 = age/1.8219; %>
                <img src="https://www.nasa.gov/sites/default/files/images/main_Mars.jpg" alt="mars">
                <h4>your age in mars : <%=Math.round(age2) %> years </h4>
            <%} else if(planet==='VENUS'){%>
                <%  let age2 = age/0.616438; %>
                <img src="https://www.nasa.gov/sites/default/files/images/main_venus.jpg" alt="venus">
                <h4>your age in venus : <%=Math.round(age2) %> years </h4>
            <%}%>
        </article>
    </section>
    <!-- </section> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../server.js"></script>
<!-- </body>
</html> -->