@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');


#container-two {
    width: 60%;
    margin: auto;
    height: fit-content;
    background-color: rgb(230, 230, 230);
    margin-bottom: 5%;
    overflow: hidden;
    color: black;
}

.details img{
    margin-left: 30%;
    margin-top: 10%;
    width: 500px;
    height: 500px;
}
#second-span {
    display: block;
    width: 500px;
    height: 500px;
    background-color: rgb(209, 209, 209);
    margin-top: -45%;
    margin-left: 14%;
}
#second-span h3 {
    padding-top: 80%;
    padding-left: 6.5%;
    padding-right: 6%;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    font-weight: bold;
    color: rgb(34, 32, 32);
    

}

.details h2 {
    margin-top: 3%;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 18%;
    
}

.details h4 {
    margin-top: 3%;
    margin-left: 18%;
    padding-right: 3%;
    width: 460px;
}

#planet-age img{
    margin: 10% 3% 10% 14%;
    float: left;
    size: 50%;
    width: 100px;
}

#planet-age h4 {
    color: rgb(17, 17, 17);
    padding-top: 20%;
    width: 75%;
}

#fact {
    margin-bottom: 10%;
}