<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/css.ejs') %>
  <title>Error</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <section id='error'>
      <div>
        <h1 id='four'>
          <span>404</span>
          Houston, we have a problem!
        </h1>
        <h2 id='four-two'>The universe you are looking for does not exist!</h2>
  
      </div>
      <img src="./img/404.png" alt="404">
    </section>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>

</html>