@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');

body {
    font-family: 'Hind Vadodara', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-image: url(https://thumbs.gfycat.com/RigidConcernedGlowworm-max-14mb.gif); */
    color: aliceblue;

}
main{
    display: block;
}
img{
    height: 200px;
}

