@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');

body {
    font-family: 'Hind Vadodara', sans-serif;
    /* display: flex; */
    justify-content: center;
    flex-wrap: wrap;
    /* background-image: url(https://thumbs.gfycat.com/RigidConcernedGlowworm-max-14mb.gif); */
    color: #c8c7ca;

}
main{
    display: block;
}
img{
    height: 200px;
}

#intro {
    width: 60%;
    margin-bottom: 20%;
    
}

#intro h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 2%;
    font-weight: 600 !important;
    text-shadow: 0px 0px 12px #edf8fd85;
}

#planet-intro {
    width: 60%;
    margin-top: 10%;
}

#planet-intro h3{
    font-size: 25px;
    margin-bottom: 2%;
}

#planet-intro p span{
    font-style: oblique;
}

.blockquote2 { 
    position: relative;
    font-weight: 800;
    color: #c8c7ca;
    padding: 60px 0;
    width: 100%;
    z-index: 1;
    margin: 40px auto;
    align-self: center;
    /* border-bottom: solid 1px; */
    top: 10px;
    text-align: center;
}
/* Blockquote header */
.blockquote2 p {
    position: relative;;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 5%;
}
